#navBarContainer .navbar{
	height: 100px;
}

.row-fluid .headerClass{
	display: flex;
	padding: 0px;
	justify-content: flex-end;
	align-items: center;
	/*Hard-coded AAAAFFFFFFFF*/
	margin-left: 150px;
}

.row-fluid .searchBarContainer{
	display: flex;
	justify-content: flex-end;
	padding-left: 15px;
}

.navbar .rowStyleClass{
	display: flex;
	align-items: center;
	padding-top: 22px;
}

#headerText{
	font-size: 30;
}

#submitHeaderContainer{
	display: flex;
	justify-content: center;
}

#inputGroupID{
	margin: 30px;
}
