#navBarContainer .navbar{
	height: 100px;
}

.row-fluid .headerClass{
	display: flex;
	padding: 0px;
	justify-content: flex-end;
	align-items: center;
	/*Hard-coded AAAAFFFFFFFF*/
	margin-left: 150px;
}

.row-fluid .searchBarContainer{
	display: flex;
	justify-content: flex-end;
	padding-left: 15px;
}

.navbar .rowStyleClass{
	display: flex;
	align-items: center;
	padding-top: 22px;
}

#headerText{
	font-size: 30;
}

#submitHeaderContainer{
	display: flex;
	justify-content: center;
}

#inputGroupID{
	margin: 30px;
}

#listOfPosts .postItem{
	margin-top: 40px;
	margin-right: 40px;
	margin-left: 40px;
	height: 140px;
	/*border: 1px solid #626567;*/
}




}

#dateOfPost {
	margin-left: 40px;
	color: #626567
}
